.img {
    width: 300px;
    height: 200px;
    padding: 10px;
}

.hr {
    width: 90%;
    margin: auto;
    height: 5px;
    border-radius: 20px;
    background-color: white;
}

.skill {
    background-color: #000;
    background-image: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;

    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 15px;
    overflow: visible;
    padding: 5px 5px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.skill:hover {
    transition: 0.7s;
    cursor: pointer;
    box-shadow: rgb(55, 109, 255) 8px 8px 0 0, #000 4px 4px 0 1px;
}
 .tag:hover{
    transition: 0.7s;
    box-shadow:rgb(55, 109, 255) 4px 4px 0 0, rgba(27, 41, 197, 0.3) 8px 8px, rgba(38, 38, 239, 0.2) 10px 10px, rgba(46, 46, 240, 0.1) 15px 15px, rgba(49, 46, 240, 0.05) 20px 20px;
}

.tag {
    background-color: #fff;
    color: #000;
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.tag_box {
    display: flex;
    justify-content: center;

}

.box {
    background-color: #000;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.head {
    text-align: center;
    color: rgb(55, 109, 255);
    margin: 0px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;



}

.h2 {
    font-size: 25px;
}